* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Gilroy';
    src: url("assets/fonts/Gilroy-Semibold.ttf");
}

body {
    font-family: 'Gilroy', sans-serif;
    color: black;
    background-color: LemonChiffon;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 20px 0;
}

.header .container {
    display: flex;
    align-items: center;
}
.about {
    margin-left: 120px;
}

.about-list {
    list-style: none;
    display: flex;
}

.about-item {
    margin-right: 88px;
    margin-bottom: 20px;
}

.about-item a {
    font-size: 24px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.about-item a:hover {
    border-bottom: 2px solid black;
}

.main-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-content .container {
    position: relative;
}

.main-image {
    position: absolute;
    width: 377px;
    height: 362px;
    border-radius: 50%;
    background-size: auto 400px;
    top: 0;
    right: calc(100% - 1100px);
    z-index: -1;
}

.main-title {
    font-size: 50px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-left: 10px;
}

.main-text {
    font-size: 30px;
    line-height: 29px;
    margin-bottom: 20px;
    padding-left: 175px;
}
.main-text-location {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 56px;
    padding-left: 230px;
}
.info-items {
    margin-top: 60px;
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(2, 512px);
    justify-content: center;
}

.info-item {
    text-align: center;
    font-size: 20px;
    line-height: 140%;
}

.info-item-title {
    font-size: 35px;
    line-height: 29px;
    padding: 10px 0;
    background-color: Khaki;
}

.info-item-contacts {
    text-align: left;
    margin-top: 20px;
    padding-left: 30px;
}
.info-item-text {
    margin-top: 20px;
}
.info-item-text .code {
    text-align: left;
    padding-left: 30px;
}
.info-item-text .code-tab {
    text-align: left;
    padding-left: 67px;
}
.link {
    text-decoration: none;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0 40px;
    transition: .3s ease-in-out;
    color: black;
    text-shadow: black 2px 0px, black 2px 2px, black 0px 2px, black -2px 2px, black -2px 0px, black -2px -2px, black 0px -2px;

}

.info-item-contacts a {
    text-decoration: none;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0 40px;
    transition: .3s ease-in-out;
    color: saddlebrown;
}
.info-item-projects a {
    text-decoration: none;
    letter-spacing: 1px;
    transition: .3s ease-in-out;
    grid-template-columns: repeat(1, 200px);
    display: grid;
    gap: 0px;
    justify-content: center;
    margin-top: 20px;
    color: saddlebrown;
}

.info-item-skills {
    grid-template-columns: repeat(4, 100px);
    display: grid;
    gap: 0px;
    justify-content: center;
    margin-top: 20px;
}

.footer {
    padding: 20px 0;
}
.footer a {
    font-size: 24px;
}

.footer .container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon {
    position: center;
    width: 90px; height: 90px;
}

.year{
    font-size: 24px;
    line-height: 10px;
}

.social-icons {
    display: flex;
    justify-content: left;
    list-style: none;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-left: 5rem;
}
.social-icons>li {
    margin-left: 1rem;
    margin-right: 0.25rem;
    padding-left: 0px;
}
.social-icons a {
    position: relative;
    background-color: khaki;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color .3s ease-in-out;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
}
.social-icons a:hover {
    background-color: #FFFFFF;
}
.social-icons a::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 1rem;
    top: .75rem;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.social-icons .social-icon-vk::before {
    background-image: url("https://cdn-icons-png.flaticon.com/512/48/48965.png");
}
.social-icons .social-icon-telegram::before {
    background-image: url("https://cdn-icons-png.flaticon.com/128/87/87413.png");
}
.social-icons .social-icon-linkedin::before {
    background-image: url("https://cdn-icons-png.flaticon.com/512/49/49068.png");
}
.social-icons .social-icon-mail::before {
    background-image: url("https://cdn-icons-png.flaticon.com/128/8393/8393231.png");
}
.social-icons .social-icon-github::before {
    background-image: url("https://cdn-icons-png.flaticon.com/128/733/733609.png");
}

